<div class="container_principal">
  <div class="content">
    <div class="container_text_info">
      <h2 class="title">
        <span style="color: #3eccb5">¡Únete al</span> Circulo de Ayudadores!
      </h2>
      <p>
        Tu aporte mensual nos permite seguir llevando la Palabra de Dios por
        todo el mundo.
      </p>
    </div>

    <div class="donaciones_container">
      <afrus-form
        form-id="f4e937d2-9afb-45cc-a67a-eec3981cee68"
        preview="false"
      >
      </afrus-form>
    </div>
  </div>
</div>
