<div class="swiper">
  <!-- Additional required wrapper -->
  <div
  class="parallax-bg"
  style="background-image:url('https://dev.radioesperanza1140.com/uploads/side_view_radio_microphone_with_copy_space_1_9c2d0797a4.png')"
  data-swiper-parallax="-23%"
></div>
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let slide of images">
      <img class="swiper-slide-img" [src]="slide.imageUrl">
      <div class="title" data-swiper-parallax="500" data-swiper-parallax-x="60%" data-swiper-parallax-y="45%">{{slide.title}}</div>
      <!-- Parallax subtitle -->
      <div class="subtitle" data-swiper-parallax="200">{{slide.description}}</div>
      <!-- And parallax text with custom transition duration -->
      <div
        class="text"
        data-swiper-parallax="-300"
        data-swiper-parallax-duration="100"
      >
        <p>{{slide.description}}</p>
      </div>
      <!-- Opacity parallax -->
      <div data-swiper-parallax-opacity="0.5">I will change opacity</div>
      <!-- Scale parallax -->
      <div data-swiper-parallax-scale="0.15">I will change scale</div>
    </div>
  </div>


  <!-- If we need pagination -->
  <!-- <div class="swiper-pagination"></div> -->

  <!-- If we need navigation buttons -->
  <!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> -->

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</div>

<!-- <swiper-container #swiperContainer init="false">
  <swiper-slide *ngFor="let slide of images">
    <img [src]="slide.imageUrl">
  </swiper-slide>
</swiper-container> -->
