<div class="container_cover">
  <img src="nosotros.jpg" alt="" />
</div>

<div class="container_vision">
  <h2
    style="
      text-align: center;
      color: #3eccb5;
      font-size: 30px;
      margin-bottom: 30px;
      font-weight: bold;
    "
  >
    Visión
  </h2>
  <div class="container_text_vision">
    <p>{{ vision }}</p>
  </div>
</div>

<div class="container_mision" #numbersContainer>
  <div class="container_text_mision">
    <h2
      style="
        text-align: center;
        color: #3eccb5;
        font-size: 30px;
        margin-bottom: 30px;
        font-weight: bold;
      "
    >
      Misión
    </h2>
    <p style="color: #fff">{{ mision }}</p>
  </div>
</div>

<div class="container_master">
  <div class="container_message">
    <b>Mensajes que </b> transforman, conectan y fortalecen tu fe.
  </div>

  <div class="container_message">
    <b>Llevanos contigo</b> a donde quiera que vayas
  </div>

  <div class="container_message">
    <b>comprometidos con</b> transformar vidas a través de la fe.
  </div>

  <div class="container_info">
    <div
      style="
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <h2 class="title_numbers">+{{ sintonizantes }}</h2>
      <p class="subtitle_numbers">Sintonizantes</p>
    </div>

    <div
      style="
        color: #fff;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <h2 class="title_numbers">+{{ seguidores }}</h2>
      <p class="subtitle_numbers subtitle_ayudador">Seguidores</p>
    </div>

    <div style="color: #fff; text-align: center">
      <h2 class="title_numbers">+{{ years }}</h2>
      <p class="subtitle_numbers">Años</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
