<div class="snap-container">

    <div class="snap-section">
        <div class="container_cover">
            <img src ="pastores.png" style="width: 100%; "  alt="Pastores de la Iglesia mision Boston">
        </div>
    </div>

    
    <div class="snap-section">
     <div class="container_vision">
        <h2 style="text-align: center; color: #3ECCB5; font-size: 30px;">Visión</h2>
     <div class="container_text_vision">
        <p>Convertir a Radio Esperanza en una emisora ​​reconocida a nivel nacional, destacándose como una de las principales emisoras cristianas comprometidas con la difusión de la Palabra de Dios para la salvación y restauración de las familias. Dirigimos nuestros esfuerzos hacia el reconocimiento nacional por nuestros altos estándares. de calidad en radiodifusión, fomentando un ambiente de mejora continua en todos los departamentos de la estación. Nuestro objetivo es asegurar la fidelización de nuestros oyentes actuales y atraer constantemente nuevas radioescuchas, promoviendo su participación activa y su vinculación duradera con nuestra emisora.</p>
     </div>
     </div>
    </div>

      
    <div class="snap-section">
        <div class="container_mision">
      
        <div class="container_text_mision">
            <h2 style="text-align: center; color: #3ECCB5; font-size: 30px; margin-bottom: 30px;">Misión</h2>
           <p style="color: #fff;">Convertir a Radio Esperanza en una emisora ​​reconocida a nivel nacional, destacándose como una de las principales emisoras cristianas comprometidas con la difusión de la Palabra de Dios para la salvación y restauración de las familias. Dirigimos nuestros esfuerzos hacia el reconocimiento nacional por nuestros altos estándares. de calidad en radiodifusión, fomentando un ambiente de mejora continua en todos los departamentos de la estación. Nuestro objetivo es asegurar la fidelización de nuestros oyentes actuales y atraer constantemente nuevas radioescuchas, promoviendo su participación activa y su vinculación duradera con nuestra emisora.</p>
        </div>
        </div>
      
 
  </div>

  <div class="snap-section">
    <div class="container_master">
            
            
        <div class="container_message"><b>Mensajes que </b>
transforman, conectan y fortalecen tu fe.</div>

<div class="container_message"><b>Llevanos contigo</b>
a donde quiera que vayas</div>

<div class="container_message"><b>comprometidos con</b> transformar vidas a través de la fe.</div>

<div class="container_info">

<div style="color: #fff; text-align: center;">
    <h2 style="font-weight: bold; font-size: 3rem;">+ 8000</h2>
    <p style="font-size: 20px; font-weight: 300;">Sintonizantes</p>
</div>

<div style="color: #fff; text-align: center;">
    <h2 style="font-weight: bold; font-size: 3rem;">+ 120</h2>
    <p style="font-size: 20px; font-weight: 300; width: 100px; height: auto;">Ayudadores
        porcentuales</p>
</div>

<div style="color: #fff; text-align: center;">
    <h2 style="font-weight: bold; font-size: 3rem;">14</h2>
    <p style="font-size: 20px; font-weight: 300;">Años</p>
</div>

</div>


    </div>
  
  
   </div>
  </div>
  