@import "../../../../../variables.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.container_cover{

    width: 100%;
    padding-top: 80px;
//    background-image: url("/nosotros.jpg");
//    height: 600px;
//    background-position: center;
//    background-size: contain;
//    background-repeat: no-repeat;

}

.container_vision{

    padding-top: 50px;
  
    padding-bottom: 50px;
   
}



.container_text_vision{
    max-width: 1200px;
    width: 100%;
    height: auto;
    padding: 0px 20px 0px 20px;
    height: auto;
    padding: 0px 20px 0px 20px;

    margin: auto;
    font-size: 22px;
    text-align: center;
    
}

.container_text_mision{
    max-width: 1200px;
    width: 100%;
    padding: 0px 20px 0px 20px;

    margin: auto;
    font-size: 22px;
    background: "#343434";
    text-align: center;
}




.container_mision{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #343434
}


@media(max-width:860px){
    .container_text_vision{
        text-align: center;
        font-size: 15px;
    }

    .container_text_mision{

        font-size: 15px;


    }


    .container_vision{

        padding-top: 40px;
        padding-bottom: 40px;

    }


}

.container_master{

    padding: 20px;
    padding-top: 200px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('/imagen_master.png');
    background-size: cover;
   position: relative;


}

.container_message{

    height: 200px;
    width: 300px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    padding: 10px;

}

.container_info{
    position: absolute;
    top: 98px;
    height: 180px;
    width: 1000px;
    background: $primaryColor;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.subtitle_ayudador{
    width: 100px
}


@media(max-width:950px){

    .container_info{

        top: -20px;

    }



}

.subtitle_ayudador{
    text-align: center;
}


.title_numbers{
    font-weight: bold; font-size: 3rem;
    text-align: center;
    
}

.subtitle_numbers{
    font-size: 20px; font-weight: 300;
    text-align: center;
}


@media(max-width:990px){

    .container_info{
       height: auto;
       padding: 20px;
        width: 100%;
        max-width: 1000px;
        border-radius: 0px;

      margin: 20px;
       gap: 20px;
    }


    .container_info h2{
        font-size: 21px;
    }

    .subtitle_numbers{
        font-size: 14px;
    }

}



@media(max-width:950px){
    .container_message{

        padding: 1px;
        font-size: 20px;


        height: auto;


    }
    .container_master{
    flex-direction: column;
    height: auto;
     padding-top: 150px;
    gap: 50px;
    padding-bottom: 100px;


    }

    .img_master{
        display: none;
    }
}

@media(max-width:375px){


}



