<div class="container_principal_info">
  <div class="container_title_and_image">
    <!-- Mostrar mensaje de carga mientras isLoading sea true -->
    <div *ngIf="isLoading" class="lds-ripple">
      <div></div>
      <div></div>
    </div>

    <div *ngIf="!isLoading" class="container_title">
      <h2 class="title">{{ program.title }}</h2>
      <p class="text_days">{{ program.dias_EnEmision }}</p>
      <p class="program-time">{{ inicio }} - {{ fin }}</p>
    </div>

    <div
      *ngIf="!isLoading"
      class="program-card"
      [ngStyle]="{ 'background-image': 'url(' + imgUrl + ')' }"
    ></div>
  </div>

  <div class="container_description">
    <p>{{ program.description }}</p>
  </div>
</div>

<div class="secundary_container">
  <div class="container_principal_form">
    <div class="container_form">
      <div class="container_title">
        <h2>Escribe tu <span style="color: #3eccb5">petición</span></h2>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <!-- Campo de Nombre -->
        <div class="form-group container_input_name">
          <input
            type="text"
            id="nombre"
            name="nombre"
            class="form-control name"
            placeholder="Ingresa tu nombre"
            formControlName="nombre"
            [ngClass]="{
              'is-invalid':
                form.get('nombre')?.invalid && form.get('nombre')?.touched
            }"
            required
          />
          <div
            *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched"
            class="invalid-feedback"
          >
            <small *ngIf="form.get('nombre')?.errors?.['required']"
              >Nombre es requerido.</small
            >
            <small *ngIf="form.get('nombre')?.errors?.['minlength']"
              >Nombre debe ser al menos 3 caracteres.</small
            >
          </div>
        </div>

        <!-- Campos de Correo Electrónico y Petición -->
        <div class="email_and_peticion">
          <div class="form-group container_email">
            <input
              type="email"
              id="email"
              name="email"
              class="form-control email"
              placeholder="Ingresa tu correo electrónico"
              formControlName="email"
              [ngClass]="{
                'is-invalid':
                  form.get('email')?.invalid && form.get('email')?.touched
              }"
              required
            />
            <div
              *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
              class="invalid-feedback"
            >
              <small *ngIf="form.get('email')?.errors?.['required']"
                >Email es requerido.</small
              >
              <small *ngIf="form.get('email')?.errors?.['email']"
                >Formato inválido para email.</small
              >
            </div>
          </div>

          <div class="form-group container_slect">
            <select
              id="tipoPeticion"
              name="tipoPeticion"
              class="form-control select_peticion"
              formControlName="tipoPeticion"
              [ngClass]="{
                'is-invalid':
                  form.get('tipoPeticion')?.invalid &&
                  form.get('tipoPeticion')?.touched
              }"
              required
            >
              <option value="" disabled selected>Selecciona una opción</option>
              <option>Sanidad</option>
              <option>Liberación</option>
              <option>Conversión</option>
              <option>Familia</option>
              <option>Protección divina</option>
              <option>Empleo</option>
            </select>
            <div
              *ngIf="
                form.get('tipoPeticion')?.invalid &&
                form.get('tipoPeticion')?.touched
              "
              class="invalid-feedback"
            >
              <small *ngIf="form.get('tipoPeticion')?.errors?.['required']"
                >Selecciona una opción.</small
              >
            </div>
          </div>
        </div>

        <!-- Campo de Petición (más grande) -->
        <div class="form-group">
          <textarea
            id="peticion"
            name="peticion"
            class="form-control input_description"
            rows="4"
            placeholder="Escribe los detalles de tu petición"
            formControlName="peticion"
            [ngClass]="{
              'is-invalid':
                form.get('peticion')?.invalid && form.get('peticion')?.touched
            }"
            required
          ></textarea>
          <div
            *ngIf="
              form.get('peticion')?.invalid && form.get('peticion')?.touched
            "
            class="invalid-feedback"
          >
            <small *ngIf="form.get('peticion')?.errors?.['required']"
              >Mensaje es requerido.</small
            >
          </div>
        </div>

        <!-- Botón de Enviar -->
        <div class="container_btn">
          <button type="submit" class="btn_enviar">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
