


.nav_style{
    
 
  font-optical-sizing: auto;
  padding: 5px 20px 5px 20px;


}

.btn_donacion{
    background: #3ECCB5;
    color: #fff;
    border-radius: 5px;
    width: 125px;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

@media (max-width: 990px) {
    .btn_donacion {
        justify-content: flex-start;  /* Alinea el texto a la izquierda */
        padding-left: 10px;  
        
    }
}

.btn_nav{
    color: #0d1321;
    font-size: 15px;
    
}

.menu{
    // background: red;
    display: flex;
    gap: 30px;
  
}

.active_page{
  color:#3ECCB5
}