<section class="programs">
  <div class="overlap">
    <div class="rectangle"></div>
    <div class="rectangle-2"></div>
    <div class="hero-card">
      <div class="overlap-group">
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-4"></div>
        <p class="text-wrapper">8:00 AM - 9:00 AM</p>
        <div class="text-wrapper-2">Lunes a Sábado</div>
        <div class="text-wrapper-3">El Devocional</div>
        <div class="rectangle-4"></div>
        <img class="pastor-alvaro" src="img/pastor-alvaro-1-2.png" />
        <div class="rectangle-4"></div>
        <div class="frame"><div class="text-wrapper-4">Conoce más</div></div>
      </div>
    </div>
    <div class="overlap-wrapper">
      <div class="overlap-group">
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-4"></div>
        <p class="text-wrapper">8:00 AM - 9:00 AM</p>
        <div class="text-wrapper-2">Lunes a Sábado</div>
        <div class="text-wrapper-3">El Devocional</div>
        <div class="rectangle-4"></div>
        <img class="pastor-alvaro" src="img/pastor-alvaro-1-2.png" />
        <div class="rectangle-4"></div>
        <div class="frame"><div class="text-wrapper-4">Conoce más</div></div>
      </div>
    </div>
    <div class="overlap-group-wrapper">
      <div class="overlap-group">
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-4"></div>
        <p class="text-wrapper">8:00 AM - 9:00 AM</p>
        <div class="text-wrapper-2">Lunes a Sábado</div>
        <div class="text-wrapper-3">El Devocional</div>
        <div class="rectangle-4"></div>
        <img class="pastor-alvaro" src="img/pastor-alvaro-1-2.png" />
        <div class="rectangle-4"></div>
        <div class="frame"><div class="text-wrapper-4">Conoce más</div></div>
      </div>
    </div>
    <div class="text-wrapper-5">PROGRAMAS</div>
    <div class="text-wrapper-6">Programación completa</div>
  </div>
</section>
