  /* Estilos generales */
  .container_promises_and_verses {
    padding: 45px 48px 45px 48px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #f8f9fa;


  }

  // .container_promises_and_verses::after {
  //   content: "";
  //   position: absolute; /* Permite posicionarlo sobre el contenedor */
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.2); /* Capa oscura semitransparente */
  //   z-index: 1; /* Asegura que el overlay quede por encima del fondo */
  // }

  .container_promises_and_verses > * {
    position: relative; /* Asegura que los hijos estén por encima del ::after */
    z-index: 2;
  }
  .container_verse,
  .container_promise {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0; /* Oculto inicialmente */
    transform: translateX(100px); /* Desplaza desde la derecha */
    transition: all 0.8s ease; /* Transición suave */


  }

  .container_promise {
    transform: translateX(-100px); /* Desplaza desde la izquierda */
  }

  /* Cuando el elemento está visible */
  .visible {
    opacity: 1; /* Hacer visible */
    transform: translateX(0); /* Volver a la posición original */
  }

  .title {
    font-size: 3rem;
    // color: #fff;
  }

  .text {
    font-size: 23px;
    // color: #fff;
  }

  .quote {
    color: #3eccb5;
    font-weight: 500;
    font-size: 20px;
  }



  /* Media query para pantallas más pequeñas */
  @media (max-width: 1280px) {
    /* Reducir el padding en la sección principal */
    .container_promises_and_verses {
      padding: 20px; /* Menos padding en pantallas pequeñas */
      gap: 20px; /* Menos espacio entre los contenedores */
      margin-bottom: 10px;
      // margin-top: 80px;
    }

    /* Reducir el tamaño de la fuente */
    .title {
      font-size: 2rem; /* Tamaño más pequeño para títulos */
    }

    .text {
      font-size: 16px; /* Ajustar el tamaño del texto para que quepa mejor en pantallas pequeñas */
    }

    .quote {
      font-size: 14px; /* Ajustar tamaño de la cita */
    }
  }

  @media (max-width: 1400px) {
    .container_promises_and_verses {
      gap: 50px;
    }
  }


  .blockquote {
    padding: 60px 80px 40px;
    position: relative;
}
.blockquote p {
    font-family: "Utopia-italic";
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
}

/*blockquote p::before {
    content: "\f095";
    font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
  font-size: 180px;
 }*/

.blockquote:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;

  content:"\f10d";
  font-size: 200px;
  color: rgba(0,0,0,0.1);

}

.container_promise::after {
    content: "";
    // top: 10px;
    bottom: -25px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #78C0A8;
    height: 3px;
    width: 200px;
    // padding-bottom: 10px;
}

.otro-blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}


