<div class="container_promises_and_verses">
  <div class="container_promise visible">
    <h2 class="title">Palabra de sabiduria</h2>
    <div class="text">
      Eres más fuerte de lo que crees. Más capaz de lo que alguna vez soñaste.
    </div>
  </div>
  <div class="container_verse visible">
    <h2 class="title">Promesa de Dios</h2>
    <div class="text">
      No temas, porque yo estoy contigo; no desmayes, porque yo soy tu Dios que
      te esfuerzo; siempre te ayudaré, siempre te sustentaré con la diestra de
      mi justicia.
    </div>
    <h3 class="quote">Isaías 41:10</h3>
  </div>
</div>
