.container_principal{
  padding-top: 140px;
  width: 100%;
  text-align: center;
}

.testimonials_container{
  height: 600px;
  width: 100%;
  padding: 10px;

}
.text_testimonio{
  margin-bottom: 40px;
  font-size: 40px;
}
