<div class="container_principal">
  <div class="donaciones_container">
    <div class="container_info">
      <h1>
        <span style="color: #3eccb5">¡Únete al Círculo de Ayudadores</span> de
        Radio Esperanza 1140 AM y haz la diferencia!
      </h1>
      <p>
        Te invitamos a ser parte de esta hermosa misión, donde tu generosidad y
        apoyo nos permiten continuar llevando un mensaje de esperanza, fe y amor
        a miles de hogares.
      </p>
    </div>
    <afrus-form
      z
      form-id="f4e937d2-9afb-45cc-a67a-eec3981cee68"
      preview="false"
    >
    </afrus-form>
  </div>
</div>
