body {
  position: relative;
}

.container_whatsapp {
  position: fixed; /* Cambiado a fixed */
 
  width: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 50%;
  bottom: 110px; /* A 20px desde el borde inferior */
  right: 60px; /* A 20px desde el borde derecho */
  z-index: 100;
}

.container_whatsapp img{
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_principal {
  height: auto;
  padding: 40px;
}


@media(max-width:550px){
  .container_whatsapp{
    width: 45px;
    height: 45px;
    bottom: 145px;
    right: 30px;
  }
}

.btn_donacion {
  background: #3eccb5 ;
  color: #fff;
  border-radius: 5px;
  width: 125px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: fixed;
  bottom: 200px; /* Pegado al borde inferior */
left: -45px;
  z-index: 100;
  gap: 5px;
  transform: rotate(270deg); /* Rotar 45 grados */
  display: none;
  padding-left  : 20px;
  padding-top: 8px;
}



@media(max-width:990px){
  .btn_donacion{
    display: block;
  }

}
