<footer>
  <div class="footer-section footer-logo">
      <img src="logo-footer.png" alt="Logo">
  </div>
  <div class="footer-section footer-sitemap">
    <h3>Mapa del Sitio</h3>
    <hr/>
    <ul>
        <li><a href="/home">Inicio</a></li>
        <li><a href="/about-us">Nosotros</a></li>
        <li><a href="/programation">Programación</a></li>
        <li><a href="/contact-us">Contactos</a></li>
        <li><a href="/donation">Donación</a></li>
    </ul>
</div>
  <div class="footer-section footer-contact">
      <h3>Contáctanos</h3>
      <hr/>
      <p>Dirección: Torices calle El Progreso - 50 #13-134,  Cartagena, Bolivar</p>
      <span>Teléfono:
        <ul>
          <li>300 720 2309</li>
          <li>300 815 6928</li>
        </ul>
      </span>
  </div>

  <div class="footer-section footer-social">
      <h3>Síguenos</h3>
      <hr/>
      <a href='https://www.facebook.com/radioesperanza1140cartagena?mibextid=ZbWKwL' target='_blank'>
        <i class="fa-brands fa-facebook fa-2x" ></i>
      </a>
      <a href='https://whatsapp.com/channel/0029VamHYW72UPBAe23fzS1f' target='_blank'>
        <i class="fa-brands fa-whatsapp fa-2x"></i>
      </a>
      <a href='https://www.tiktok.com/@radio_esperanza1140am?_t=8rxy3xKo3L5&_r=1' target='_blank'>
        <i class="fa-brands fa-tiktok fa-2x"></i>
      </a>
      <a href='https://www.instagram.com/radio_esperanza1140am?igsh=MWZ6ZGU3cWR1anBoMA==' target='_blank'>
        <i class="fa-brands fa-instagram fa-2x"></i>
      </a>
  </div>
</footer>

<!-- <footer>
  <div class="radio-esperanza-logo-white">
    <img style="width: 150px" src="logo-footer.png" />
  </div>
  <div class="contacto">
    <h3>Contacto</h3>
    <ul>
        <li>Teléfono: 300 730 2309 - 300 815 69 28</li>
        <li>Dirección: Torices calle El Progreso - 50 #13-134,  Cartagena, Bolivar</li>
    </ul>
  </div>
  <div class="social-media">
    <h3>Síguenos</h3>
    <a href='https://www.facebook.com/radioesperanza1140cartagena?mibextid=ZbWKwL' target='_blank'>
      <i class="fa-brands fa-facebook fa-3x" ></i>
    </a>
    <a href='https://whatsapp.com/channel/0029VamHYW72UPBAe23fzS1f' target='_blank'>
      <i class="fa-brands fa-whatsapp fa-3x"></i>
    </a>
    <a href='https://www.tiktok.com/@radio_esperanza1140am?_t=8rxy3xKo3L5&_r=1' target='_blank'>
      <i class="fa-brands fa-tiktok fa-3x"></i>
    </a>
    <a href='https://www.instagram.com/radio_esperanza1140am?igsh=MWZ6ZGU3cWR1anBoMA==' target='_blank'>
      <i class="fa-brands fa-instagram fa-3x"></i>
    </a>

  </div>

</footer> -->
