<div class="radio-player">
  <div style="color: aliceblue">aquí la imagen</div>

  <div class="container_player_and_vol">
    <button class="pulse-button" (click)="togglePlay(audio)">
      <i class="fas" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i>
    </button>

    <div class="volume-wrapper">
      <button class="volume">
        <i class="fas fa-solid fa-volume-high"></i>
      </button>
      <input
        class="volume-slide"
        type="range"
        min="0"
        max="1"
        step="0.01"
        [(ngModel)]="volume"
        (input)="updateVolume(audio)"
      />
    </div>
    <audio #audio [src]="audioSrc"></audio>
  </div>
</div>
