@import "../../../../../variables.scss";
.radio-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 25px 14px 25px;
  background-color: #232323; /* Color corporativo */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.container_player_and_vol {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px; /* Bordes redondeados */
}

.volume-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Espaciado entre el botón Play y el control de volumen */
}

.pulse-button {
  display: flex;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: #232323;
  border: none;
  border-radius: 50%;
  background: $primaryColor;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(90, 212, 212, 0.5);
  animation: pulse 1.5s infinite;
}

.pulse-button:hover {
  animation: none;
}

.volume {

  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

input[type="range"] {
  -webkit-appearance: none; /* Elimina el estilo predeterminado */
  appearance: none;
  width: 150px; /* Haz la barra más larga */
  height: 4px; /* Define el grosor de la barra */
  background: white; /* Cambia el color de la barra a blanco */
  border-radius: 5px; /* Opcional: Redondea los bordes de la barra */
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Elimina el estilo predeterminado */
  appearance: none;
  width: 15px; /* Tamaño del control deslizante */
  height: 15px;
  background: #fff; /* Color del control deslizante */
  border-radius: 50%; /* Redondea el control deslizante */
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombras para efecto */
  margin-top: -6px; /* Ajusta verticalmente el control deslizante */
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: $primaryColor;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-ms-thumb {
  width: 15px;
  height: 15px;
  background: $primaryColor;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px; /* Grosor de la barra */
  background: white; /* Color de la barra */
  border-radius: 5px;
}

/* Personaliza para navegadores como Firefox */
input[type="range"]::-moz-range-track {
  height: 4px;
  background: white;
  border-radius: 5px;
}

/* Personaliza para navegadores de Microsoft */
input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: white;
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: white;
  border-radius: 5px;
}

input[type="range"]::-moz-range-progress {
  background: #a9a9a9; /* Fondo gris para la parte activa */
}

input[type="range"]::-webkit-slider-thumb {
  border: 2px solid #b3b3b3; /* Borde gris claro */
}


